
.featuresColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4rem;
}

.featuresColumn .featureCard:nth-child(odd) {
    margin-right: auto;
    margin-left: 2rem;
    text-align: left;
}

.featuresColumn .featureCard:nth-child(even) {
    margin-left: auto;
    margin-right: 2rem;
    text-align: right;
}

.featureCard {
    border-radius: 12px;
}

.title {
    margin-top: 3rem;
}

.featureContent{
    padding-left: 5rem;
    padding-right: 5rem;
}

.featureName{
    margin: 1rem;
}

.featureDescription p {

    margin: 1rem;
}

.featureDescription strong{
    color: #555;
    font-size: 1.05rem;
    margin: 0 0.1rem 0;
}