.dashboardTitle {
    font-size: 2rem;
}

.dashboardSubtitle {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.actionShelf {
    padding: 0 0 1rem 0;
}

.contentWrapper {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineChart {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.drawerWrapper {
    min-width: 260px;
    height: 100vh;
}

.dashboardWrapper {
    width: calc(100% - 260px);
    padding: 30px;
}