.accountCircleIcon {
    font-size: 32px
}

.logoutIcon {
    font-size: 32px
}

.listItemLink {
    width: 100%
}

.scrollableList {
    max-height: 731px; /* Adjust the value as needed */
    overflow-y: auto;
}
