.loginWrapper {
    height: calc(100vh - 64px);
    background-image: url('../../src/images/background_images/milad-white-waves.jpg');
    background-size: cover;
    background-position: center;
}

.googleLoginButton {
    box-shadow: 0 0 0 1px #4285F4;
}

.googleLoginButton:hover {
    box-shadow: 0 0 0 2px #4285F4;
}

.signInButton {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.signInButton:hover {
    background-color: black;
    font-weight: bolder;
}

/*.registerWrapper::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);*/
/*    pointer-events: none;*/
/*}*/